@model IEnumerable<SimpleSite.Models.Notification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDismissed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Controller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDismissed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NotificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NotificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NotificationId })
        </td>
    </tr>
}

</table>
